:root {
  --color-1: #2b427e;
  --color-2: #344986;
  --color-3: #9eabf1;
  --color-4: #d3dfff;
  --color-5: #ebf6ff;
  --color-6: #cee9ff;
  --color-7: #dcecfa;
  --font-1: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-1);
}

a:visited {
  color: inherit;
}

body {
  background-color: var(--color-5);
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  background-image: url("../src/img/vector-shade2.svg");
  background-size: fill;
  background-repeat: no-repeat;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.main__title {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--color-1);
  font-size: 3rem;
  margin-top: 4rem;
}

.main__p {
  display: flex;
  flex-basis: 15rem;
  flex-grow: 1;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--color-2);
  font-size: 1.3rem;
}

.main__medias {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 15rem;
  flex-grow: 1;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--color-2);
  font-size: 1.3rem;
  gap: 2rem;
}

.main__image--social {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.logo {
  flex-grow: 0.2;
  flex-basis: 12rem;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
}

.logo__image {
  width: 60%;
  object-fit: cover;
}

.menu {
  flex-grow: 1;
  flex-basis: 8rem;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: var(--color-1);
  font-size: 1.2rem;
}

.menu__list {
  flex-grow: 1;
  flex-basis: 2rem;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--color-6);
}

.menu__list a {
  color: var(--color-6);
}

.menu__list a:visited {
  color: var(--color-6);
}

.menu__list--item:hover {
  color: var(--color-4);
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  gap: 5rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-5);
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.content__box {
  width: 50%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 15rem;
  align-items: center;
  margin: 0.5rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--color-5);
  box-shadow: var(--color-6) 0px 0px 20px 1px;
  font-family: var(--font-1);
}

.content__title {
  width: 100%;
  text-align: center;
  color: var(--color-1);
}

.content__text p {
  height: 15rem;
  width: 100%;
  text-align: left;
  justify-content: center;
  text-wrap: pretty;
  padding: 1rem;
  font-size: 14px;
  color: var(--color-2);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
  font-family: var(--font-1);
  color: var(--color-1);
}

.services__title {
  width: 100%;
  text-align: center;
  justify-content: center;
  color: var(--color-1);
  font-size: larger;
}

.servicios {
  width: 100%;
}

.services__item {
  flex-basis: 15rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-5);
  box-shadow: var(--color-6) 0px 0px 20px 1px;
  color: var(--color-2);
}

.services__item--title {
  width: 100%;
  text-align: left;
  justify-content: left;
  padding: 1rem;
}

.services__item--text {
  width: 100%;
  text-align: left;
  justify-content: left;
  padding: 1rem;
}

.socials__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  flex-wrap: no-wrap;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
  font-family: var(--font-1);
  color: var(--color-1);
}

.socials__title {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  color: var(--color-1);
}

.socials__p {
  width: 100%;
  height: 100%;
  text-align: left;
  justify-content: left;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--color-6) 0px 0px 20px 1px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
  border-top: #2b427e 1px solid;
  background-color: var(--color-5);
}

.footer__info {
  width: 50%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: var(--color-5);
}

.footer__info--title {
  flex-grow: 0.2;
  flex-basis: 1rem;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--color-5);
  color: var(--color-1);
  font-size: small;
}

.footer__info--item {
  flex-grow: 0.2;
  flex-basis: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
}

.footer__links {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
  color: var(--color-2);
  font-size: large;
}

.footer_links::hover {
  color: var(--color-3);
}
