/* Reset de HTML */
:root {
  --color-1: #2b427e;
  --color-2: #344986;
  --color-3: #9eabf1;
  --color-4: #d3dfff;
  --color-5: #ebf6ff;
  --color-6: #cee9ff;
  --color-7: #dcecfa;
  --font-1: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-1);
}

a:visited {
  color: inherit;
}

/* Resto de las clases del HTML */

body {
  background-color: var(--color-5);
}

/* Clase container */
.container {
  /* estilos de container */
  width: 80%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
}

.wavebg {
  background-image: url("../src/img/vector-wave.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  height: 100%;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
  height: 40rem;
  padding: 1rem;
  box-sizing: border-box;
}

.main__title {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--color-1);
  font-size: 3rem;
  margin-top: 4rem;
}

.main__p {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-right: 5rem;
  box-sizing: border-box;
  color: var(--color-2);
  font-size: 1.3rem;
}

.main__medias {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-right: 5rem;
  box-sizing: border-box;
  color: var(--color-2);
  font-size: 1.3rem;
  gap: 6rem;
}

.main__image--social {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Clase header */
.header {
  /* estilos de header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

/* Clase logo */
.logo {
  /* estilos de logo */
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 1rem 2rem;
}

.logo__image {
  width: 12rem;
  height: 100%;
  object-fit: cover;
}

/* Clase menu */
.menu {
  /* estilos de menu */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  width: 25rem;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--color-1);
  font-size: 1.2rem;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: no-wrap;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--color-6);
}

.menu__list--item:hover {
  color: var(--color-4);
  cursor: pointer;
}

/* Clase banner */
.banner {
  /* estilos de banner */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.banner__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: drop-shadow(10px 5px 7px rgba(0, 0, 0, 0.4));
}

/* Clase content */
.content {
  /* estilos de content */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  flex-wrap: no-wrap;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  flex-wrap: no-wrap;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.content__box {
  width: 100%;
  max-width: 400px;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--color-5);
  box-shadow: var(--color-6) 0px 0px 20px 1px;
  font-family: var(--font-1);
}

.content__title {
  height: 5rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 1rem;
  color: var(--color-1);
}

.content__text {
  height: 11rem;
  width: 100%;
  text-align: left;
  justify-content: center;
  margin: 0.5rem;
  padding: 1rem;
  color: var(--color-2);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  flex-wrap: no-wrap;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
  font-family: var(--font-1);
  color: var(--color-1);
}

.services__title {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  color: var(--color-1);
  font-size: larger;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  flex-wrap: no-wrap;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
  box-shadow: var(--color-6) 0px 0px 20px 1px;
  color: var(--color-2);
}

.services__item--title {
  width: 100%;
  text-align: left;
  justify-content: left;
  margin: 1rem;
  padding: 1rem;
}

.services__item--text {
  width: 100%;
  text-align: left;
  justify-content: left;
  margin: 1rem;
  padding: 1rem;
}

.footer {
  /* estilos de footer */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
  background-color: var(--color-5);
}

.footer__logo {
  /* estilos de logo */
  width: 100%;
  max-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  box-sizing: border-box;
}

.footer__logo--image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__info {
  /* estilos de info */
  width: 30rem;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
}
.footer__info--title {
  width: 100%;
  height: 100%;
  flex-wrap: no-wrap;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--color-5);
  color: var(--color-1);
  font-size: small;
}
.footer__info--item {
  /* estilos de info */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
}

.footer__links {
  /* estilos de links */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-5);
  color: var(--color-2);
  font-size: large;
}

.footer_links::hover {
  color: var(--color-3);
}

/* Media Queries */

/* Reset de HTML */
/* ... (Tu código existente) ... */

/* Media queries para pantallas de tamaño mediano */
@media only screen and (max-width: 1024px) {
  /* Estilos para pantallas medianas (hasta 1024px) */
  .container {
    width: 90%; /* Ejemplo de ajuste de ancho para pantallas medianas */
  }

  .main__title {
    font-size: 2.5rem; /* Ejemplo de ajuste de tamaño de fuente para pantallas medianas */
  }

  /* Agrega aquí más ajustes para elementos específicos que necesiten cambios en pantallas medianas */
}

/* Media queries para pantallas pequeñas (móviles) */
@media only screen and (max-width: 768px) {
  /* Estilos para pantallas pequeñas (hasta 768px) */
  .container {
    width: 100%; /* Ajuste para que ocupe todo el ancho en pantallas pequeñas */
  }

  .main__title {
    font-size: 2rem; /* Reducción adicional del tamaño de fuente para pantallas pequeñas */
  }

  /* Agrega aquí más ajustes para elementos específicos que necesiten cambios en pantallas pequeñas */
}
